
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h2>Thanh toán thành công</h2>
    <p><<a href="@Url.Action("Index", "Home")"> Tiếp tục mua hàng </a>></p>
</div>