@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Hồ Nguyễn Thị Mỹ Anh<br />
    Trường Cao Đẳng Công Thương Tp.HCM<br />
    <abbr title="Phone">Điện thoại:</abbr>
    0397598427
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="myanh21102002@gmail.com">myanh21102002@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="myanh21102002@gmail.com">myanh21102002@gmail.com</a>
</address>