<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title">Giới thiệu về sản phẩm điện thoại Iphone</h5>
        <p>
            IPhone là một dòng sản phẩm điện thoại di động được sản xuất bởi công ty Apple, có trụ sở tại Mỹ. iPhone ra mắt lần đầu tiên vào năm 2007 và đã trở thành một trong những dòng sản phẩm điện thoại nổi tiếng và được yêu thích nhất trên thế giới.
            Các sản phẩm iPhone của Apple được thiết kế với một phong cách đơn giản, sang trọng và hiệu suất cao. Mỗi phiên bản của iPhone thường có các cải tiến đáng kể về phần cứng và phần mềm. Hệ điều hành iOS của Apple cho phép người dùng truy cập vào các ứng dụng đa dạng từ App Store và cung cấp nhiều tính năng hữu ích như Siri - trợ lý ảo, Apple Pay - dịch vụ thanh toán di động và iMessage - ứng dụng nhắn tin miễn phí.
            Một số phiên bản nổi bật của iPhone bao gồm iPhone 12, iPhone 11, iPhone XS, iPhone XR và iPhone SE. Mỗi phiên bản đều có tính năng và mức giá khác nhau để phù hợp với nhu cầu của người dùng.
            IPhone được coi là một trong những sản phẩm điện thoại di động tốt nhất và được yêu thích nhất trên thế giới nhờ vào chất lượng sản phẩm, tính năng đa dạng và hệ sinh thái mạnh mẽ của Apple.
        </p>
        <h6 class="card-title">Giới thiệu về sản phẩm diện thoại Samsung</h6>
        <p>
            Samsung là một trong những công ty điện tử hàng đầu thế giới, có trụ sở tại Hàn Quốc. Hãng này được thành lập vào năm 1938 và bắt đầu sản xuất các sản phẩm điện tử vào những năm 1960. Từ đó đến nay, Samsung đã trở thành một trong những thương hiệu hàng đầu trong lĩnh vực công nghệ, bao gồm điện thoại di động, máy tính bảng, máy tính xách tay, tivi, máy lạnh, máy giặt, và nhiều sản phẩm khác.
            Trong lĩnh vực điện thoại di động, Samsung đã trở thành một trong những nhà sản xuất hàng đầu trên thế giới, cạnh tranh trực tiếp với Apple và Huawei. Samsung đã giới thiệu nhiều sản phẩm nổi tiếng như Galaxy S và Note series, và trở thành nhà sản xuất điện thoại di động đầu tiên sử dụng màn hình cong (curved) và màn hình vô cực (infinity display).
            Ngoài ra, Samsung cũng là một trong những nhà sản xuất chip điện tử lớn nhất thế giới, sản xuất chip cho các thiết bị của chính mình và cung cấp chip cho nhiều thương hiệu điện tử khác.
            Với sự đầu tư nghiêm túc vào nghiên cứu và phát triển công nghệ, Samsung luôn là một trong những công ty hàng đầu trong lĩnh vực công nghệ và tiên phong trong việc đưa ra những sản phẩm mới và đột phá trong ngành công nghiệp.
        </p>
            <div class="row mt-5">
                <div class="col-md-4">

                    <p>

                    </p>

                    </article>
                </div> <!-- col.// -->
                <div class="col-md-4">
                    <p>

                    </p>
                </div> <!-- col.// -->
                <div class="col-md-4">
                    <p>

                    </p>
                </div> <!-- col.// -->
            </div> <!-- row.// -->

            <br><br>

            <a href="javascript: history.back()" class="btn btn-light">  Quay lại</a>



</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-secondary">
    <div class="container">
        <section class="footer-top padding-y-lg text-white">
            <div class="row">
                <aside class="col-md col-6">
                    <h6 class="title">Thương hiệu</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Iphone</a></li>
                        <li> <a href="#">Samsung</a></li>
                        <li> <a href="#">Máy tính </a></li>
                        <li> <a href="#">Đồng hồ thông minh</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Công ty</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Về chúng tôi</a></li>
                        <li> <a href="#">Nghề nghiệp</a></li>
                        <li> <a href="#">Tìm cửa hàng</a></li>
                        <li> <a href="#">Quy tắc và điều khoản</a></li>
                        <li> <a href="#">Sơ đồ trang web</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Hỗ trợ</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Liên hệ với chúng tôi</a></li>
                        <li> <a href="#">Hoàn tiền</a></li>
                        <li> <a href="#">Trạng thái đơn hàng</a></li>
                        <li> <a href="#">Thông tin vận chuyển</a></li>
                        <li> <a href="#">Tranh chấp mở/a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Tài khoản</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#"> Đăng nhập người dùng </a></li>
                        <li> <a href="#"> Đăng ký người dùng </a></li>
                        <li> <a href="#"> Cài đặt tài khoản </a></li>
                        <li> <a href="#"> Đơn đặt hàng của tôi </a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Xã hội</h6>
                    <ul class="list-unstyled">
                        <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                        <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                        <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                        <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                    </ul>
                </aside>
            </div> <!-- row.// -->
        </section>	<!-- footer-top.// -->

        <section class="footer-bottom text-center">

            <p class="text-white">Chính sách bảo mật - Điều khoản sử dụng - Hướng dẫn điều tra pháp lý thông tin người dùng</p>
            <p class="text-muted"> &sao chép tên công ty 2019, Mọi quyền được bảo lưu </p>
            <br>
        </section>
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
