
@{
    ViewBag.Title = "Blank";
}
<section class="section-content padding-y">
    <div class="container">

        <header class="section-heading">
            <h2 class="section-title">Trang dành cho người mới bắt đầu </h2>
        </header><!-- sect-heading -->

        <article>


            <p>
                
            </p>
            <p>
               
            </p>
            <p>
                
            </p>

            <p>
               
            </p>
            <p>
                
            </p>

            <br><br><br><br><br><br><br><br><br>

        </article>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
